body {
background: url('https://iili.io/KyCVWHQ.jpg') no-repeat center center fixed !important;
color: none !important;
backgorund-size: cover !important;
}

div.container.topbar {
background: # !important;
color: # !important;
border-bottom: 1px solid # !important;
}

div.container.main {
background: rgba() !important;
border: 
border-radius: 15px !important;
}

.navbar {
background: # !important;
color: # !important;
border: !important;
border-bottom: none !important;
border-top: none !important;
border-right: none !important;
box-shadow: none !important;
font-family: '';
}

.navbar:hover {
background: # !important;
color: # !immportant;
border: 0 0 10px #, 0 0 20px #
.navbar-header > a > img {
content: url('');
width: 100px;
}

.breadcrumb {
background: # !important;
color: !important;
border-radius: 15px !important;
}

h1 {
text-align: !important;
color: # !important;
font-family: !important;
}

.col-md-9.col-xs.12 {
background: none !important;
border: !important;
border-top: none !important;
border-right: none !important;
border-bottom: none !important;

.sidebar {
background: none !important;
color: # !important;
border: none !important;
}

